<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/top :: head"><title>(top fragments -> head)</title></head>

<body>
<nav th:replace="fragments/top :: nav">(top fragments -> nav)</nav>

<div class="album py-4 bg-light">
    <div class="container">
        <h1>GitHub Language Statistics
            <span class="ml-2"><a href="//github.com/ttnny/github-lcs" target="_blank"><i
                    class="fab fa-github text-dark"></i></a></span>
        </h1>

        <div class="bd-callout bd-callout-primary">
            <dl>
                <dt>App Info <i class="fas fa-info-circle"></i></dt>
                <dd>This application is to demo the use of the <u>gh-langstats</u> API.</dd>

                <dt>Usage</dt>
                <dd>The demo takes a GitHub username and returns a JSON of language/bytes (key/value) pairs.</dd>

                <dt>Notes</dt>
                <dd>The value shown for each language is the <u>number of bytes of code</u>
                    written in that language. The results are based on 100 (max) of the most pushed/updated public repos.</dd>
            </dl>
        </div>

        <p class="pt-3">Please input your GitHub username:</p>
        <form th:action="@{/gh-langstats}" th:object="${ghLangStatsModel}" action="#" method="post">
            <div class="input-group mb-3 form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">GitHub</span>
                </div>
                <input th:field="*{username}" type="text" class="form-control ttnny-input" placeholder="GitHub username" required>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Go</button>
                </div>
            </div>
        </form>

        <th:block th:if="${ghLangStatsModel.labels != null and ghLangStatsModel.values != null}">
        <!-- Nav tabs -->
        <ul class="nav nav-pills justify-content-center py-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active btn-outline-secondary" data-toggle="tab" href="#barChart" role="tab" aria-controls="Bar" aria-selected="true">Bar Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-secondary" data-toggle="tab" href="#pieChart" role="tab" aria-controls="Pie" aria-selected="false">Pie Chart</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="barChart" role="tabpanel" aria-labelledby="Bar">
                <div id="myBarChart"></div>
            </div>
            <div class="tab-pane" id="pieChart" role="tabpanel" aria-labelledby="Pie">
                <div id="myPieChart"></div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
        <script th:inline="javascript">
            const data = {
                labels: [[${ghLangStatsModel.labels}]],
                datasets: [
                    {
                        name: "GitHub Language Statistics",
                        values: [[${ghLangStatsModel.values}]],
                    }
                ],
            };

            let barChart = new frappe.Chart("#myBarChart", {
                data: data,
                type: "bar",
                height: 450,
                colors: ["#99c4f3", "#c3e9b0", "#cca682", "#71c2ba",
                    "#6edff1", "#2b8cbe", "#0868ac", "#084081",
                    "#fcc5c0", "#f768a1", "#dd3497", "#fed976",
                    "#fd8d3c", "#fc4e2a", "#dadaeb", "#807dba"],

                tooltipOptions: {
                    formatTooltipY: d => d + " bytes",
                }
            });

            let pieChart = new frappe.Chart("#myPieChart", {
                data: data,
                type: "pie",
                height: 450,
                maxSlices: 7,
                colors: ["#cca682", "#c3e9b0", "#99c4f3", "#71c2ba",
                    "#807dba", "#fd8d3c", "#0868ac", "#084081",
                    "#fcc5c0", "#f768a1", "#dd3497", "#fed976",
                    "#2b8cbe", "#fc4e2a", "#dadaeb", "#6edff1"],

                tooltipOptions: {
                    formatTooltipY: d => d + " bytes",
                }
            });
        </script>
        </th:block>
    </div>
</div>

<div th:replace="fragments/bottom :: js">(bottom fragments -> js)</div>
</body>
</html>