.ttnny-input {
    min-width: 7em;
    max-width: 15em;
}

.js-calendar-graph-svg {
    font-size: 10px;
    fill: #767676;
}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}

.tab-content > .tab-pane.active {
    height: auto;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background: #ffffff;
}

.bd-callout-primary {
    border-left-color: #007bff;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.bd-callout dl {
    margin-bottom: 0;
}

.bd-callout dl dd:last-child {
    margin-bottom: 0;
}

i.fa-github:hover {
    color: #6c757d !important;
}

body {
    background: #f8f9fa;
}